[submodule "Frameworks/pivotalcorekit"]
	path = Frameworks/pivotalcorekit
	url = https://github.com/pivotal-legacy/PivotalCoreKit.git
[submodule "Frameworks/cedar"]
	path = Frameworks/cedar
	url = https://github.com/cedarbdd/cedar.git
